.wrapper {
    border: 1px solid #17202A;
    height: auto;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    position: relative;
}

.pluskotak,
.minuskotak,
.multiplekotak,
.dividekotak {
    border-radius: 7px;
    padding: 15px 10px;
    background-color: #d3d3d3;
    border: 1px solid #d3d3d3;
}

.containerplus,
.containerminus,
.containermultiple,
.containerdivide {
    border-radius: 7px;
    height: 100%;
}

.containerplus {
    background: #a2b969;
    border: 1px solid #a2b969;
}

.containerminus {
    background: #bc9815;
    border: 1px solid #bc9815;
}

.containermultiple {
    background: #bc5815;
    border: 1px solid #bc5815;
}

.containerdivide {
    background: #c32e17;
    border: 1px solid #c32e17;
}

.pluskotak {
    height: 120px;
    width: 300px;
    position: absolute;
    top: 11%;
    left: 70.5%;
    transform: translate(-70.5%, -11%);
}

.minuskotak {
    height: 120px;
    width: 300px;
    position: absolute;
    top: 38%;
    left: 29.5%;
    transform: translate(-29.5%, -38%);
}

.multiplekotak {
    height: 120px;
    width: 300px;
    position: absolute;
    top: 65%;
    left: 70.5%;
    transform: translate(-70.5%, -65%);
}

.dividekotak {
    height: 120px;
    width: 300px;
    position: absolute;
    bottom: 7%;
    left: 29.5%;
    transform: translate(-29.5%, -7%);
}

.input,
.output {
    height: 20px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
}

.input {
    width: 60px;
    margin-top: 10px;
}

span {
    min-width: 15px;
    display: inline-block;
}

.btn {
    background-color: teal;
    width: 50px;
    height: 36px;
    display: block;
    margin: 3.5px auto;
    border: 1px solid teal;
    border-radius: 50%;
    font-weight: bold;
    color: whitesmoke;
    font-size: 10px;
    text-transform: uppercase;
}

.output {
    width: 95%;
    height: 30px;
    font-size: 10px;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
}

.hasil-ganjil {
    background-color: yellow;
}

.hasil-genap {
    background-color: palegreen;
}

.hasil-nol {
    background-color: powderblue;
}